.App {
  text-align: center;
}
.App {
  background-image: url('./assets/background.jpg');
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
input {
  width: 90%;
  font-size: 15pt;
  padding: 4pt;
  padding-left: 6pt;
  border-radius: 5pt;
  margin-bottom: 25pt;
}
button {
  font-size: 15pt;
  padding: 8pt;
  border-radius: 8pt;
  border: none;
  background-color: rgb(0, 153, 255);
  color: white;
}
p {
  padding-bottom: 10pt;
  font-size: 20pt;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: black;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr {
  background-color: white;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
h2 {
  padding-bottom: 15pt;
}
.backButtonBlock {
  flex-direction: row;
  width: 90%;
  padding-bottom: 55pt;
}
.backButton {
  float: left;
}
.deleteButton {
  float: right;
  background-color: rgb(255, 0, 76);
}
.inputBlock {
  flex-direction: row;
  width: 95%;
}
.inputBlock span {
  float: left;
  text-align: left;
  font-size: 16pt;
  padding-top: 6pt;
  width: 60%
}
.inputBlock input {
  float: right;
  width: 25%;
}
.exitButtonBlock {
  flex-direction: row;
  width: 90%;
  padding-bottom: 55pt;  
}
.exitButtonBlock img {
  background-color: rgb(0, 153, 255);
  width: 22pt;
  height: 22pt;
  padding: 6pt;
  border-radius: 8pt;
  float: right;
}
.profitBlock {
  flex-direction: row;
  padding-top: 5pt;
  width: 100%;
}
.profitBlock h4 {
  float: left;
  text-align: left;
  padding-left: 2%;
  width: 73%;
}
.profitBlock .profit {
  float: right;
  padding-left: 0%;
  padding-right: 1%;
  width: 24%;
}
.checkImage {
  background-color: rgb(0, 153, 255);
  width: 22pt;
  height: 22pt;
  padding: 6pt;
  border-radius: 8pt;
  float: right;
}